body {
    margin: 0px;
    padding-right: 0px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@font-face {
    font-family: "Blackfonts";
    src: url(/fonts/QynFlavorAltGB-Bold.ttf) format("truetype"),
}

@font-face {
    font-family: "blacklight";
    src: url(/fonts/QynFlavorAltGB-Light.ttf) format("truetype");
    font-weight: lighter;
}

@font-face {
    font-family: "blackheavy";
    src: url(/fonts/QynFlavorAltGB-Heavy.ttf) format("truetype");
    font-weight: bolder;
}

@font-face {
    font-family: "Songfonts";
    src: url("/fonts/CorpSrcWinSong-slim.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}