body {
    margin: 0px;
    padding-right: 0px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background-size: cover;
    background-attachment: fixed;
}

@font-face {
    font-family: "Blackfonts";
    src: url(/fonts/QynFlavorAltGB-Bold.ttf) format("truetype"),
}

@font-face {
    font-family: "blacklight";
    src: url(/fonts/QynFlavorAltGB-Light.ttf) format("truetype");
    font-weight: lighter;
}

@font-face {
    font-family: "blackheavy";
    src: url(/fonts/QynFlavorAltGB-Heavy.ttf) format("truetype");
    font-weight: bolder;
}

@font-face {
    font-family: "Songfonts";
    src: url("/fonts/CorpSrcWinSong-slim.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

nav {
    width: 100%;
    padding: 1rem 2%;
    background: rgba(255, 255, 255, 0.70);
    border-bottom: 2px solid rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(15px);
    margin-bottom: 0px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: fixed;
    top: 0px;
    z-index: 1000;
}
.logo {
    font-size: 2.1rem;
    font-weight: 900;
    color: #12df82;
    letter-spacing: 1px;
    user-select: none;
    margin-bottom: 10px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: 4px;
}
.nav-links li a {
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    text-shadow: 0px 3px 6px #12df82;
}
.nav-links li a:hover {
    color: #ffffff;
    font-weight: 700;
    gap: 2rem;
    text-shadow: #12df82 0px 7px 6px;
    transition: 0.4s;
}
ul {
    list-style: none;
}
.btns {
    display: flex;
}
.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    background-color: #12df82;
    color: #bbffe1;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 15px #12df82;
}
.btn a {
    color: #bbffe1;
}
.btn a:hover {
    color: #ffffff;
}
.btn:hover {
    background: #00e980;
    box-shadow: 0px 0px 25px #2dff7e;
}
#title {
    background-color: #ccffeead;
                color: #285943;
                margin-top: 10px;
                padding: 15px;
                border-radius: 30px;
                border-style: hidden;
    text-align: center;
    box-shadow: 3px 3px 6px 0px rgba(170, 170, 170, 0.7);
    width: 85%;
    height: 25%;
    border-color: #ebfff8;
    border-style: solid;
    border-width: 1.5px;
    backdrop-filter: blur(30px);
    user-select: none;
    -webkit-user-select: none;
}
#greeting {
    color: #285943;
    position: relative;
    font-style: oblique;
    object-fit: fill;
    width: 100%;
}
a {
    text-decoration: none;
    color: #77AF9C;
}
/* 通用容器 */
.container {
    width:100%;
    min-width: 390px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    margin-top: 90px;
}
.container img {
    height: 50px;
    width: 50px;
}
#box {
    width: 280px;
    height: 175px;
    margin: 20px;
    position:relative; 
    display:inline-table;
    box-shadow: 5px 5px 10px 0px grey;
    background-color: rgba(255, 255, 255, 0.45);
    color: #2f9b77;
    border-radius: 15px;
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    backdrop-filter: blur(10px);
    padding: 10px;
    transition-duration: 0.2s;
}
#box h3 {
    color: #285943;
}
#box h4 {
    color: #39795cc5;
    text-align: center;
    font-size: medium;
    font-weight: 700;
}
#italic_text {
    color: #50b889a8;
    font-style: italic;
    text-align: center;
    font-size: medium;
    font-weight: 500;
}
#box:hover {
    scale: 1.04;
    box-shadow: rgba(170, 170, 170, 0.7) 3px 3px 6px 0px;
}
/* 已上传文章 */
#atcboxloaded {
    width: 95%;
    max-width: 600px;
    column-width: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
    min-height: 90px;
    max-height: 15%;
    margin: 10px;
    position: relative; 
    display: inline-table;
    box-shadow: 5px 5px 10px 0px grey;
    background-color: rgba(255, 255, 255, 0.45);
    color: #2f9b77;
    border-radius: 15px;
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    backdrop-filter: blur(10px);
    padding: 10px;
    padding-left: 2vw;
    padding-right: 3vw;
    transition-duration: 0.2s;
    text-align: center;
    text-align-last: left;
    justify-content: center;

}
#atcboxloaded h3 {
    color: #285943;
}
#atcboxloaded:hover {
    scale: 1.04;
    box-shadow: rgba(170, 170, 170, 0.7) 3px 3px 6px 0px;
}
#myDate {
    color: #2f9b77;
}
/* 未上传 */
#atcbox {
    display: none;
}
.atclink {
    display: none;
}
/* 文章容器 */
.atccontainer {
    width:100%;
    min-width: 390px;
    height: 100%;
    display: flex;
    margin: 0px;
    margin-top: 90px;
    list-style: none;
    justify-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
}
.atccontainer a {
    min-width: 320px;
    max-width: 95%;
    min-height: 90px;
    max-height: 15%;
    margin: 10px;
}
scroll-container {
   overflow: auto;
   -ms-overflow-style: none;
   scrollbar-width: none;
}
scroll-container::-webkit-scrollbar {
   display: none;
}
.uploadbtn {
   position: fixed;
   bottom: 40px;
   right: 35px;
   background-color: #12df82;
   padding: 0.6rem 0.8rem;
   border-radius: 40px;
   border: none;
   cursor: pointer;
   box-shadow: 0 0px 20px #12df82;
   transition: all 0.3s ease;
   position: fixed;
   z-index: 1000;
}
.uploadbtn a {

    color: #bbffe1;
    font-weight: 600;
    font-size: 1rem;
}
.uploadbtn:hover {
   background-color: #00e980;
   text-rendering: #ffffff;
   transform: scale(1.05);
   box-shadow: 0 0px 30px #2dff7e;
}
.uploadbtn a:hover {
    color: #ffffff;
}
.eventbox {
    background-color: #ffffff8e;
                color: #ffffff;
                margin-top: 40px;
                padding: 35px;
                border-radius: 30px;
    text-align: center;
    box-shadow: 3px 3px 6px 0px rgba(170, 170, 170, 0.7);
    width: 80%;
    height: 25rem;
    padding-top: 50px;
    margin: 60px auto 30px auto;
    border-color: #ebfff8;
    border-style: solid;
    border-width: 1.5px;
    backdrop-filter: blur(40px);
    user-select: none;
    -webkit-user-select: none;
}
.eventbox h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: #12df82 0px 0px 10px;
    margin-bottom: 70px;
}
.eventbox p {
    margin-top: 150px auto 200px auto;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-shadow: #12df82 0px 0px 10px;
}
.atccontent {
    background-color: #ffffff8e;
                margin-top: 40px;
                padding: 35px;
                border-radius: 30px;
    text-align: center;
    box-shadow: 3px 3px 6px 0px rgba(170, 170, 170, 0.7);
    width: 80%;
    height: 25rem auto;
    max-height: 100vh;
    padding-top: 50px;
    margin: 60px auto 30px auto;
    margin-bottom: 100px;
    padding-bottom: 70px;
    border-color: #ebfff8;
    border-style: solid;
    border-width: 1.5px;
    backdrop-filter: blur(40px);
    user-select: none;
    -webkit-user-select: none;
}
.atccontent h1 {
    color: #000000;
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.atccontent p {
    color: #000000be;
    font-weight: 460;
    text-align: justify;
}
#writer {
    color: #008a4c8f;
    margin-bottom: 2rem;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
}
.webClass {
    background-color: #ccffeead;
                color: #285943;
                margin-top: 10px;
                padding: 15px;
                border-radius: 30px;
                border-style: hidden;
    box-shadow: 3px 3px 6px 0px rgba(170, 170, 170, 0.7);
    width: 85%;
    border-color: #ebfff8;
    border-style: solid;
    border-width: 1.5px;
    backdrop-filter: blur(30px);
    user-select: none;
    -webkit-user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.webClass h2 {
    font-size: 2rem;
    font-weight: 900;
    position: fixed;
    left: 1.2rem;
}

.webboxs a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 165px;
    height: 107px;
}

#webboxloaded {
    width: 135px;
    max-width: 149px auto;
    height: 55px;
    max-height: 91px;
    margin: 8px;
    position:relative; 
    display:inline-table;
    box-shadow: 4px 4px 7px 0px grey;
    background-color: rgba(255, 255, 255, 0.45);
    color: #2f9b77;
    border-radius: 15px;
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    backdrop-filter: blur(10px);
    padding: 6px;
    transition-duration: 0.2s;
    
}
#webboxloaded h3 {
    color: #285943;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 2px;
}
#webboxloaded p {
    margin-top: 5px;
    width: 135px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#webboxloaded:hover {
    scale: 1.04;
    box-shadow: rgba(170, 170, 170, 0.7) 3px 3px 4px 0px;
}
/*网站页面未上传盒子*/
#webbox {
    display: none;
}

.webboxs {
    margin-top: 5rem;
    user-select: none;
    -webkit-user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

